@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-inter), sans-serif;
}
@theme {
  --color-primary-950: #5d0035;
  --color-primary-900: #95065e;
  --color-primary-800: #bf0076;
  --color-primary-700: #da0087;
  --color-primary-600: #fa08a8;
  --color-primary-500: #ff2cc6;
  --color-primary-400: #ff5cda;
  --color-primary-300: #ff9aeb;
  --color-primary-200: #ffc7f5;
  --color-primary-100: #ffe3fa;
  --color-primary-50: #fff0fb;

  --color-black-950: #000;
  --color-black-900: #3d3d3d;
  --color-black-800: #454545;
  --color-black-700: #4f4f4f;
  --color-black-600: #5d5d5d;
  --color-black-500: #6d6d6d;
  --color-black-400: #888;
  --color-black-300: #b0b0b0;
  --color-black-200: #d1d1d1;
  --color-black-100: #e7e7e7;
  --color-black-50: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    font-family: var(--font-inter), sans-serif;
    scroll-behavior: smooth;
  }
  .font-sora {
    font-family: var(--font-inter), sans-serif;
  }
}

@theme{
   --animate-pulse-scale: pulse-scale 2s ease-in-out infinite;

  @keyframes pulse-scale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.3); }
  }
}

